---
const personalImageAlt = "Kaisher Dev";
---

<article
	class="flex flex-col items-center justify-center gap-8 text-gray-500/80 dark:text-gray-300 md:flex-row px-4"
>
	<div class="[&>p]:mb-4 [&>p>strong]:text-indigo-500 dark:[&>p>strong]:text-green-200 [&p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1">
		<p>
			Me llamo Wilson pero mis amigos me llaman wils. Soy profesional en <strong>Computación e Informática </strong>
		</p>
		<p>
			Me gusta crear aplicaciones y sitios web responsivas, atractivos, únicas y en versiones light y darkmode., utilizando frameworks como <strong>Astro, NextJS, Django, ReactJS y Tailwind CSS.</strong> y lenguajes de programación: <strong>Javascript, TypeScript y Python</strong>.
		</p>
    <p>También estoy familiarizado con el <strong>diseño UI/UX</strong> para crear logos e iconos utilizando <strong>Adobe Illustrator y figma</strong>.</p>
	</div>
	<img
		src="/me.jpg"
		alt={personalImageAlt}
		width="200"
		height="200"
		class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-indigo-500/20 dark:bg-white ring-1 ring-black/70 dark:ring-white/20"
		style=" object-position: 50% 50%"
	/>
</article>
